#card {
    @include flex-center-column;
    background-color: $white;
    border-radius: 10px;
    width: 40%;
    margin: auto;
    margin-top: 60px;
    padding: 50px;
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        width: 90%;
        padding: 5px;
    }

    
    #card_informations {
        @include flex-space-row;

        @media screen and (max-width: map-get($breakpoints, mobile)) {
            @include flex-space-column;
            align-items: center;
        }
    }
}