#card_header {
  @include flex-space-row;
  margin-bottom: 20px;

  #pagereviews {
    color: $grayish_blue;
    text-transform: uppercase;
  }

  #price {
    font-weight: 800;
    font-size: 25px;
    color: #000;
    display: flex;
    align-items: center;

    .month {
        color: $grayish_blue;
        font-size: 14px;
        font-weight: 500;
        margin-left: 5px;
    }
  }
}
