//primary colors
$soft_cyan: hsl(174, 77%, 80%); //full slider bar
$strong_cyan: hsl(174, 86%, 45%); //slider background
$light_grayish_red: hsl(14, 92%, 95%); //discount background
$light_red: hsl(15, 100%, 70%); //discount text
$pale_blue: hsl(226, 100%, 87%); //CTA Text

//neutral colors
$white: hsl(0, 0%, 100%); //pricing component background
$very_pale_blue: hsl(230, 100%, 99%); //main background
$very_light_grayish_blue: hsl(224, 65%, 95%); //empty slider bar
$light_grayish_blue: hsl(223, 50%, 87%); //toggle background
$grayish_blue: hsl(225, 20%, 60%); //text
$dark_desatured_blue: hsl(227, 35%, 25%); //text & CTA background
